#root {
  min-height: 100vh;
  width: 100%;
}

button,
a,
input {
  -webkit-tap-highlight-color: transparent;
}

button {
  touch-action: manipulation;
}

* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: rgba(107, 114, 128, 0.3);
}

::-webkit-scrollbar-track {
  background: transparent;
}